# 镜像仓库前缀
TOOLS_IMAGE_PREFIX=ghcr.io/tuxi/dream-ai-tools
IMAGE_TAG=latest

# 数据目录（宿主机绝对路径，容器内使用相同路径保证路径一致）
DATA_PATH=/home/ubuntu/apps/dream-ai-tools/data

# 配置文件目录（宿主机绝对路径）
CONFIG_PATH=/home/ubuntu/apps/dream-ai-tools/config

# 服务端口
TTS_SERVICE_PORT=8088
FFMPEG_SERVICE_PORT=8089
OCR_SERVICE_PORT=8091
ASR_SERVICE_PORT=8092
